@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,300,400,400i,500,500i,700,700i,900');

@import url('https://fonts.googleapis.com/css?family=Courgette');

@font-face {
	font-family: "Apercu Regular";
	font-display: auto;
	src: url("../fonts/apercu-regular-webfont.eot?") format("eot"),
		 url("../fonts/apercu-regular-webfont.woff") format("woff"),
		 url("../fonts/apercu-regular-webfont.ttf") format("truetype");
}

@font-face {
	font-family: "Apercu Bold";
	font-display: auto;
	src: url("../fonts/apercu-bold-webfont.eot?") format("eot"),
		 url("../fonts/apercu-bold-webfont.woff") format("woff"),
		 url("../fonts/apercu-bold-webfont.ttf") format("truetype");
}

@font-face {
	font-family: "Apercu Light";
	font-display: auto;
	src: url("../fonts/apercu-light-webfont.eot?") format("eot"),
		 url("../fonts/apercu-light-bold.woff") format("woff"),
		 url("../fonts/apercu-light-webfont.ttf") format("truetype");
}

@font-face {
	font-family: "Apercu Italic";
	font-display: auto;
	src: url("../fonts/apercu-italic-webfont.eot?") format("eot"),
		 url("../fonts/apercu-italic-bold.woff") format("woff"),
		 url("../fonts/apercu-italic-webfont.ttf") format("truetype");
}

@font-face {
	font-family: "Rockwell Regular";
	font-display: auto;
	src: url("../fonts/rockwell-regular.ttf") format("truetype");
}

@font-face {
	font-family: "Helvetica Neue Regular";
	font-display: auto;
	src: url("../fonts/HelveticaNeue.ttf") format("truetype");
}

@font-face {
	font-family: "Helvetica Neue Bold";
	font-display: auto;
	src: url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Helvetica Neue Condensed Bold";
	font-display: auto;
	src: url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype");
}

@font-face {
	font-family: "Helvetica Neue Light";
	font-display: auto;
	src: url("../fonts/HelveticaNeue-Light.ttf") format("truetype");
}