@mixin table-btn($color) {
	background-color: transparent;
	border: 1px solid $white-5;
	border-radius: 10px;
	color: $white-5;
	display: block;
	font-size: inherit;
	font-weight: 500;
	margin: 0.5em 0.3em;
	padding: 0.6em 1em;
	text-transform: uppercase;
}
@mixin table-btn-hover($color) {
	background-color: $color;
	color: $white-1;
	transition: background-color, 0.3s;
	-webkit-transition: background-color, 0.3s;
}